$base-size: 16;
$notoFont: 'Noto Sans', sans-serif;
$poppinsFont: 'Poppins', sans-serif;
$lightGreyColor: #BDBDBD;
$greyColor: #828282;
$blueColor: #2D9CDB;
$blueLogoColor: #2f80ed;
$redColor : #f00;
$lightRedColor: #c6484e;
$paleRedColor: #f2b1b8;
$brightRedColor :#EB5757;
$white: #fff;
$black: #333;
$nativeBlackColor: #000;
$paleGrey: #E0E0E0;
$paleBlueGrey: #F2F2F2;
$maskBackground: rgba(0, 0, 0, 0.2);
$darkShadowBackground: rgba(0, 0, 0, 0.85);
$darkGrey: #4F4F4F;
$veryLightGrey: #FAFAFA;
$greenColor : #27AE60;