/***    CHATS CONTAINER     ***/
.user-chat-page-container{
    background: $white;
    position: relative;
    padding: 2% 4%;
    height: max-content;
    max-height: auto;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

    .current-chat-user-details{
        @include displayFlexCenterAndJustify(space-between);
        width: 100%;
        padding: 2.2% 1%;
        position: sticky;
        top: 0;
        background: $white;
        transition: 0.35s ease-in-out;
        z-index: 1;

        .back-icon, .info-icon{
            color: $blueLogoColor;
        }
        .current-chat-user, .back-icon, .info-icon{
            transition: 0.35s ease-in-out;
            &:hover, &:focus{
                cursor: pointer;
                filter: brightness(1.25);
            }
        }
        .current-chat-user{
            .current-chat-user-display-name, .current-chat-user-username{
                letter-spacing: -0.035rem;
                line-height: 1.5rem;
                text-align: center;
            }
            .current-chat-user-display-name{
                font-weight: 700;
                font-size: rem(22);
                font-family: $poppinsFont;
                color: $nativeBlackColor;
                @media (prefers-color-scheme:dark) {
                    color: $lightGreyColor;
                }
                &:hover, &:focus{
                    color: $darkGrey;
                    @media (prefers-color-scheme:dark) {
                        color: $lightGreyColor;
                    }
                }
            }
            .current-chat-user-username{
                font-size: rem(12);
                color: $darkGrey;
                @media (prefers-color-scheme:dark) {
                    color: $greyColor;
                }
                &:hover, &:focus{
                    color: $greyColor;
                    @media (prefers-color-scheme:dark) {
                        color: $lightGreyColor;
                    }
                }
            }
        }
        @media screen and (max-width: 767px) {
            padding: 3.6% 1% 2.1%;
            margin-top: 0%;
        }
        @media (prefers-color-scheme: dark){
            background: $black;
            border-bottom: 1px solid $darkGrey;
        }
    }

    .current-chat-messages{
        padding: 0 1%;
        margin: 2% 0;
        height: auto;

        .sent-message-container, .received-message-container{
            position: relative;
            width: max-content;
            height: auto;
            padding: 1% 1.5%;
            margin: 4% 0;
            text-align: left;
            max-width: 50vw;
            color: $white;
            span, .creation-time{
                letter-spacing: -0.035rem;
                margin-left: 0;
            }
            img{
                max-width: 100%;
                cursor: pointer;
            }

            @media (min-width: 768px) and (max-width: 991px){
                padding: 2%;
                margin: 7% 0;
            }
            
            @media screen and (max-width: 767px) {
                padding: 3% 6% 4% 4%;
                max-width: 80vw;
                margin: 15% 0;
            }

            @media (prefers-color-scheme: dark) {
                color: $white;
            }
            
            .creation-time{
                position: absolute;
                bottom: -46%;
                width: max-content;
                font-size: rem(12);
                color: $lightGreyColor;

                &.image-present{
                    bottom: -13%;
                }
            }

        }

        .sent-message-container{
            background-color: $blueLogoColor;
            border-radius: 12px 12px 0px 12px;

            margin-left: auto;            

            &.image-present{
                margin-bottom: 6%;
            }

            .creation-time{
                right: 0;
            }
            
            @media screen and (max-width: 767px) {
                border-radius: 15px 15px 0px 15px;
            }
        }

        .received-message-container{
            background-color: $paleGrey;
            border-radius: 12px 12px 12px 0px;
            color: $black;

            &.image-present{
                margin-bottom: 6%;
            }

            @media screen and (max-width: 767px) {
                border-radius: 15px 15px 15px 0px;
            }

            .creation-time{
                left: 0;
            }
        }

        &:last-child{
            margin-bottom: 20%;

            @media screen and (max-width: 767px) {
                margin-bottom: 40%;   
            }
        }

        @media screen and (max-width: 767px) {
            margin: 6% 0;
        }
    }

    @media screen and (max-width: 767px) {
        padding: 2% 2.5%;
    }
    
    @media (prefers-color-scheme: dark){
        background: $black;
    }
}
